<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crc.farming.dao.LeaveMessageDao">

    <resultMap id="BaseResultMap" type="com.crc.farming.pojo.LeaveMessage" >
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        name, email,message
    </sql>


    <insert id="addleavemessage" parameterType="LeaveMessage" >
        insert into leave_message(name, email,message)
        values(#{name},#{email},#{message})
    </insert>
</mapper>